body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('Imagens/EcoLife-fundo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 150px;
  height: auto;
}

/* Container central */
.login-container {
  max-width: 400px;
  background: linear-gradient(180deg, rgb(175, 255, 171) 50%, rgb(36, 123, 46) 100%); 
  margin: 5px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


/* Botões */
.btn {
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background-color: #c82333;
}

/* Input do formulário */
.form-control {
  padding: 10px;
  font-size: 16px;
}

/* Ajuste de espaçamento entre elementos */
.mt-3 {
  margin-top: 20px;
}

.container {
  width: 100px;
  padding: 2rem;
  background: linear-gradient(180deg, rgb(175, 255, 171) 50%, rgb(36, 123, 46) 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  background-color: #f3f4f6;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tab.active {
  color: white;
  background-color: #4caf50;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

h2 {
  margin-bottom: 1rem;
  color: #333333;
  text-align: center;
}

label {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  color: white;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #025616;
}

button[type="submit"] {
  padding: 0.8rem;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #43a047;
}
