body.bg-image {
    background-image: url('Imagens/EcoLife-fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #90ee90;
    color: #fff;
    text-align: center;
}

header h1 {
    margin: 0;
}

li {
   cursor: pointer;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Contêiner do mapa */
.map-container {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

/* Estilo do mapa */
#map {
    width: 100%;
    height: 100%;
}

/* Título do mapa */
.header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #90ee90;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    z-index: 1000;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  
  .dropdown-item {
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    width: 70%;
    text-decoration: none;
    color: #333;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  
  .dropdown-item:hover {
    background-color: #f5f5f5;
  }
  
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
  }

  .btn i {
    margin-right: 8px;
  }
  
  #logoutMenu a:hover {
    background-color: #f5f5f5;
  }

.logo-img {
    max-width: 80px;
    height: auto;
  }

.logo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
  }